header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-right{

}

.mg-rt-15{
    margin-right: 15px;
}

#logo-heading{
    font-family: 'Montez', cursive; 
    color: blue;
    font-size: 2.3em;
}

#logo-sub-heading{
    font-family: 'Ubuntu Mono';
    color: black;
    font-size: 1em;
}

.btn-sign{
    background-color: blue;
    color: white;
    padding: 10px 22px;
    font-size: 0.8em;
    border: 2px #666161 solid;
}

.container{
    margin: 5px 5px;
}