.post-head{
    text-align: center;
}

.post-container{
    display: flex;
    flex-direction: column;
}

.post-sub-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.post-author{
    font-family: 'Ubuntu Mono';
}

.post-btn{
    background-color: #ED2553;
    color: white;
    padding: 6px 12px;
    font-size: 0.7em;
    box-shadow: 1px 4px 9px 0px #ed25537d;
    border: none;
    outline:none;
}
.post-btn:active{
    box-shadow: none;
    border:none
}

.post-container{
    margin: 15px 37px 5px 37px;
}

.post-body{
    font-family: serif;
    font-size: 11.9px;
    text-align: justify;
}

.post-like{
    margin: 17px 0px;
}

.liked-people{
    font-family: 'Ubuntu Mono';
    font-size: 0.8em;
    margin-top: 10px;
}

#commentbox{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}
.post-comment{
    width: 62em;
}

.user-comments-title{
    margin-top: 22px;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.user-comment{
    border-style: solid;
    border-color: #eee;
    border-width: 12px 8px 12px 8px;
    padding: 10px;
    font-family: serif;
    font-size: 0.85em;
}